/* 글꼴 설정 */
@font-face {
    font-family: abster;
    src: url(font/abster-webfont.woff) format('woff');
} 
/* 전체 선택 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 배경처리 */
.container {
    width: 100vw;
    height: 100vh;

    background-size: cover;
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.7)), url(images/room.jpg) no-repeat center center;

    position: relative;
    display: flex;
    justify-content: center;
}

/* 헤더배치 */
.header {
    width: 100%;
    height: 60px;
    margin-right: 100px;
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 글자로고 */
.header > h1 > a {
    font-family: abster, sans-serif;
    text-decoration: none;
    color: white;

    transition: all .1s ease-in-out;

    user-select: none;
}

.header > h1 > a:hover {
    color: greenyellow;
}

.header > h1 > a:active {
    filter: brightness(0.5);
}

/* 메뉴요소 배치 */
.nav > ul {
    display: flex;
    list-style: none;
}

/* 메뉴요소 스타일링 */
.nav > ul > li > a {
    text-decoration: none;
    color: white;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-content: center;

    transition: all .1s ease-in-out;
    border-radius: 10px;

    user-select: none;
}

/* 메뉴요소 마우스이벤트 */
.nav > ul > li > a:hover {
    background-color: greenyellow;
    color: #333;
}

.nav > ul > li > a:active {
    filter: brightness(0.5);
}

/* 화면 중앙 요소 배치 */

.hero {
    position: absolute;
    align-self: center;

    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 15px;
}

/* 화면 중앙 요소 제목 */
.hero > h2 {
    text-transform: uppercase;

    font-size: 45px;
    font-weight: 900;
}

/* 화면 중앙 요소 본문 */

.hero > p {
    text-align: center;
}

/* 화면 중앙 요소 버튼 */
.hero > button {
    background: rgba(0,0,0,0.2);
    border: 1px solid greenyellow;
    padding: 10px 15px;
    border-radius: 15px;

    color: white;

    cursor: pointer;

    transition: all .1s ease-in-out;

    user-select: none;
}

/* 화면 중앙 요소 버튼 처리 */
.hero > button:hover {
    background: rgba(0,0,0,0.5);
    transform: scale(1.05);
}

.hero > button:active {
    filter: brightness(0.7);
    transform: scale(0.98);
}

